* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorMainDark: #0B132B;
    --colorMainLight: #3A506B;
    --colorSecondary: #1d42a9;
    --colorWhite: #fff;
}

/*  Animações  */
@keyframes float {
    0% {
        padding: 5px 20px;
    }

    50% {
        padding: 15px 30px;
    }

    100% {
        padding: 5px 20px;
    }
}

/*  Estilizações Gerais  */

i {
    color: var(--colorWhite);
}

button {
    color: var(--colorsecondary);
    background-color: var(--colorMainDark);
    pointer-events: painted;
    z-index: 10
}

button:hover {
    background-color: var(--colorSecondary);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A506B;
    border-radius: 10px;

    input {
        width: 25ch;
        padding: 10px;
        background-color: var(--colorMainLight);
        border: none;
        border-radius: 10px;
        color: white;
    }

    input::placeholder {
        color: white;
    }

    input:focus {
        outline: none;
    }

    button {
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
    }
}



/*  Estilizações Especificas  */

body {
    background: linear-gradient(90deg, #1C2541, #3A506B);
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoContainer {
    width: 340px;
    margin-top: 70px;
    background: #fff;
    border-radius: 10px;
}

.todoContainer > header > h1 {
    background-color: var(--colorMainDark);
    color: #fff;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.todoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    border-bottom: 4px solid var(--colorMainDark);

    h1 {
        margin-bottom: 10px;
    }

    .controls {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.editForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;

    #cancelEdit {
        padding: 5px 20px;
        border: none;
        border-radius: 10px;
        font-size: 1.5rem;
    }

    #cancelEdit:hover {
        background-color: red;
        animation: float 2.5s infinite;
    }
}

.todoListClass {
    display: flex;
    justify-content: center;
}

.todo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 10px;
    border-bottom: 3px solid var(--colorMainDark);

    p {
        margin-right: 20px;
        font-weight: bolder;
    }

    button {
        padding: 10px;
        margin-right: 3px;
        border-radius: 5px;
        background-color: white;

        i {
            color: #0B132B;
        }
    }

    button:hover {
        background-color: var(--colorMainDark);
        
        i {
            color: var(--colorWhite);
        }
    }
}

.nowView {
    display: none;
}